{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}
<!doctype html>
{% add_lang_files "mozorg/contribute/index" %}
{# Note the "windows" class, without javascript platform-specific assets default to windows #}
<html class="windows x86 no-js" lang="{{ LANG }}" dir="{{ DIR }}" data-latest-firefox="{{ latest_firefox_version }}" data-esr-versions="{{ esr_firefox_versions|join(' ') }}" {% if settings.GTM_CONTAINER_ID %}data-gtm-container-id="{{ settings.GTM_CONTAINER_ID }}"{% endif %} {% block gtm_page_id %}{% endblock %}>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <title>Mozilla — {{_('Get Involved: Volunteer Opportunities at Mozilla')}} — mozilla.org</title>

    <!--[if lte IE 8]>
    <script src="{{ static('js/libs/html5shiv.js') }}"></script>
    <![endif]-->

    <link href="{{ static('css/sandstone/sandstone-resp.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ static('css/base/global-nav.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ static('css/base/notification-banner.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ static('css/tabzilla/tabzilla-static.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ static('css/mozorg/contribute/contribute-embed.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ static('img/favicon.ico') }}">
    <script type="text/javascript" src="{{ static('js/base/site.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static('js/base/dnt-helper.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static('js/base/mozilla-cookie-helper.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static('js/base/core-datalayer-page-id.js') }}" charset="utf-8"></script>

    {% include 'includes/google-analytics.html' %}
  </head>

  <body id="contribute" class="embed html-{{ DIR }}">
    <div id="wrapper">
      <h3>{{ _('Volunteer Opportunities at Mozilla') }}</h3>
      <a href="{{ url('mozorg.contribute.index') }}">{{ _('Join a global community of game-changers.') }}</a>
    </div>
    <script type="text/javascript" src="{{ static('js/libs/jquery-3.2.1.min.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static('js/libs/spin.min.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static('js/base/mozilla-utils.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static('js/newsletter/form.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static('js/base/mozilla-client.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static('js/base/mozilla-image-helper.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static('js/base/nav-main-resp.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static('js/base/class-list-polyfill.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static('js/base/mozilla-global-nav.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static('js/base/base-page-init.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static('js/base/core-datalayer.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static('js/base/core-datalayer-init.js') }}" charset="utf-8"></script>
    <script type="text/javascript" src="{{ static('js/base/search-params.js') }}" charset="utf-8"></script>
  </body>
</html>
