{# This Source Code Form is subject to the terms of the Mozilla Public
 # License, v. 2.0. If a copy of the MPL was not distributed with this
 # file, You can obtain one at http://mozilla.org/MPL/2.0/. -#}

{% extends "privacy/base-quantum.html" %}

{% block body_class %}{{ super() }} product-firefox{% endblock %}

{% block js %}
  <script type="text/javascript" src="{{ static('js/base/uitour-lib.js') }}" charset="utf-8"></script>
  <script type="text/javascript" src="{{ static('js/privacy/privacy-quantum.js') }}" charset="utf-8"></script>
  <script type="text/javascript" src="{{ static('js/privacy/privacy-quantum-firefox.js') }}" charset="utf-8"></script>
{% endblock %}
